<!DOCTYPE html>

<html>

  <head>
    <%-include ('.././partials/head')%>
  </head>

  <body>
    <%-include ('.././partials/header')%>

 <main>
    <div id="lista-carrito" >
    <%for(curso of cursos) { %>
        <article class="producto">
            <h2 class="titulares"> <%=curso.nombre%></h2>
            <section class="right">
                    <ul id="info">
                        <li id="duracion"> <%=curso.duracion%> </li>
                        <li id="requisitos"> Requisitos: <%=curso.requisitos%> </li>
                        <li> $<%=curso.precio%> en <%=curso.cuotas%> cuotas sin interés</li>
                    </ul>
            </section>
            
                    <button class="button-detail" id="comprar"> Comprar </button>
            </div>
        </article>
    <% } %>
    </div>
    <button class="button-detail" id="vaciar" onsubmit="return confirm('¿Estas seguro?');"> Vaciar carrito </button>
</main>

<script src="/js/carritologic.js" type="text/javascript">  </script> 
    <%-include ('.././partials/footer')%>
</body>
</html>