<!DOCTYPE html>

<html>

  <head>
    <%-include ('.././partials/head')%>
  </head>

  <body>
    <%-include ('.././partials/header')%>

 <main>

    <h1 title="CURSOS" class="titulocurso" > CURSOS DISPONIBLES </h1>

    <% for(let curso of Allcursos) { %>
      
    <article class="item producto">
            <h2 class="titulares" id="nombre"> <%=curso.nombre%></h2>
            <section class="right">
                <a href="/courses/details/<%=curso.id%>"> <img src="/img/cursos/<%=curso.nombreImagen%>" class="imagenescurso" > </img> </a>
                       
              <div id="info">        
                  <p  id="descripcion"> <%=curso.descripcion%> </p>
                  <ul>
                      <li class="precio" id="precio">  $<%=curso.precio%>  </li>
                      <li class="horarios" id="horarios"> Horarios: <%=curso.horarios%> </li>
                      <li class="duracion" id="duracion"> Duracion: <%=curso.duracion%> </li>
                      <li class="requisitos" id="requisitos"> Requisitos: <%=curso.requisitos%> </li>
                      <li class="cuotas" id="cuotas"> Cuotas: <%=curso.cuotas%> </li>

                  </ul>
              </div>
        </section>
                <button class="button-detail addToCart" name="boton-carrito" id="addToCart"> Agregar al carrito </button> 
               <a href="/courses/details/<%=curso.id%>"> <button class="button-detail">Detalles del curso</button> </a>
      </article>         
       
        <% } %>

        <% if (locals.logueado) { %>
         <!-- START SECTION SHOPPING CART -->
      <section class="shopping-cart">
        <div class="container">
            <h1 class="text-center">CARRITO</h1>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="shopping-cart-header">
                        <h2>AGREGUE AQUI SUS CURSOS</h2>
                    </div>
                </div>
                
            </div>
            <!-- ? START SHOPPING CART ITEMS -->
            if (res.locals.)
            <div class="shopping-cart-items shoppingCartItemsContainer">

            </div>
            <!-- ? END SHOPPING CART ITEMS -->

            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total : </p>
                        <p class="ml-4 mb-0 shoppingCartTotal">$0</p>
                        <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                            data-delay="2000">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                Se aumentó correctamente la cantidad
                            </div>
                        </div>
                        <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
                            data-target="#comprarModal">Comprar</button>
                    </div>
                </div>
            </div>

            <!-- END TOTAL -->

            <!-- START MODAL COMPRA -->
            <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Pronto recibirá su pedido</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL COMPRA -->
        </section>
        <% }%>

        <div > <a href="/courses/new"> <button class="button-detail" id="crear-curso"> Crear curso </button> </a>
        </div>
   
        <br>

 </main>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script src="/js/carrito.js" type="text/javascript">  </script> 

    <%-include ('.././partials/footer')%>
</body>
</html>