<!DOCTYPE html>

<html>

  <head>
    <%-include ('.././partials/head')%>
  </head>

  <body>
    <%-include ('.././partials/header')%>

 <main>

    <article class="producto">
        <h2 class="titulares"><%=cursoDetalle.nombre%></h2>
        <section class="right">
            <img src="/img/cursos/<%=cursoDetalle.impPath%>" class="imagenescurso" > </img>
            <div id="info">
                <p  id="descripcion"> <%=cursoDetalle.descripcion%> </p>
                <%for(let i=0; i<cursoDetalle.especific.length; i++) { %>
                <p> <%=cursoDetalle.especific[i]%> </p>
                <% } %>
            </div>            
        </section>
        
        <div id="contenido"> 
            <h4> En este curso vas a aprender </h4>
                <%for(let i=0; i<cursoDetalle.incluye.length; i++) { %>
            <ul class="columnas">
                <li> <%=cursoDetalle.incluye[i]%> </li>
            </ul>
                <% } %>
            <a href="courses/cart"> <button id="agregar-al-carrito"> Agregar al carrito </button> </a> 
        </div>
        <a href="/courses/<%=cursoDetalle.id%>/edit"> <button type="submit" class="action-button edit"> EDITAR </button> </a> 
        <form action="/courses/<%=cursoDetalle.id%>?_method=DELETE" method="POST" style="display: inline-flex"  onsubmit="return confirm('¿Estas seguro?');">
            <button type="submit" class="action-button delete">ELIMINAR</button>
        </form>

    </article>  

 </main>

    <%-include ('.././partials/footer')%>
</body>
</html>