<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
  <%-include ('.././partials/header')%>

 <section class= "Form-Container m-5">
  <h2>Editar curso</h2>
  <form class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <div type="text" class="form-control" id="nombre" contenteditable="true"> <%=cursoEditable.nombre%> </div> 
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label"> Breve descripcion</label>
        <div class="form-control" id="descripcion"> <%=cursoEditable.descripcion%></div>
      </div>
      <div class="col-12">
        <label for="especific" class="form-label">Especificaciones</label>
        <div class="form-control" id="especific" contenteditable="true"> <%=cursoEditable.especific%></div>
      </div>
      <div class="col-md-6">
        <label for="incluye" class="form-label"> Temas que aborda el curso </label>
        <div class="form-control" id="incluye" contenteditable="true"> <%=cursoEditable.incluye%></div>
      </div>
      <div class="col-md-4">
        <label for="imgPath">  <strong> Imagen ilustrativa  </strong> </label>
        <img src="img/<%=cursoEditable.imgPath%>" contenteditable="true" type="file" name="imgPath" accept=".jpg"/>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Editar</button>
      </div>
    </form>
</section>

  <%-include ('.././partials/footer')%>
</body>
</html>