<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
  <%-include ('.././partials/header')%>

 <section class= "Form-Container m-5">
  <h2>Crear curso</h2>
  <form id ="form3" class="row g-3" action="/courses/new" method="POST" enctype="multipart/form-data" >
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" requiered/>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="nombre") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label"> Breve descripcion</label>
        <textarea class="form-control" id="descripcion" name="descripcion" requiered> </textarea>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="descripcion") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>

      <div class="col-md-6">
        <label for="temas" class="form-label">Temas que aborda</label>
          <% for (tema of listaTemas) { %>
            <br/>
            <label id="temas" name="temas" class="form-label" style="width: auto;">
              <input value="<%tema.id%>" type="checkbox"/><%=tema.titulo%></input>
            </label>
          <% } %>
      </div>

      <div class="col-md-6">
        <label for="duracion" class="form-label">Duracion</label>
        <input type="text" class="form-control" id="duracion" name="duracion" requiered/>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="duracion") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-6">
        <label for="horarios" class="form-label">Horarios</label>
        <input type="text" class="form-control" id="horarios" name="horarios" requiered/>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="horarios") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>

      <div class="col-md-6">
        <label for="requisitos" class="form-label">Requisitos</label>
        <input class="form-control" id="requisitos" name="requisitos" requiered></input>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="requisitos") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>

      <div class="col-md-6">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="precio" name="precio" requiered/>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="precio") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>
      <div class="col-md-6">
        <label for="cuotas" class="form-label">Cuotas</label>
        <input class="form-control" id="cuotas" name="cuotas" requiered></input>
        <% if (locals && locals.errors) { %>
          <% if (locals.errors[0].param=="cuotas") { %>
          <h6> <%= locals.errors[0].msg %> </h6>
          <% } %>
        <% } %>
      </div>

      <div class="col-md-6">
        <label for="nombreImagen" class="form-label">Imagen del Curso</label>
        <input type="file"  class="form-control" id="nombreImagen" name="nombreImagen" />
      </div>
      <div class="col-12">
        <button type="submit" class="button-detail">Continuar</button>
      </div>
    </form>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/validfrontnew.js" type="text/javascript">  </script> 	

  <%-include ('.././partials/footer')%>
</body>
</html>

