<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
  <%-include ('.././partials/header')%>

 <section class= "Form-Container m-5">
  <h2>Crear curso</h2>
  <form class="row g-3" action="/courses/new" method="POST" enctype="multipart/form-data" >
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" requiered/>
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label"> Breve descripcion</label>
        <textarea class="form-control" id="descripcion" name="descripcion" requiered> </textarea>
      </div>
      <div class="col-12">
        <label for="especific" class="form-label">Requisitos</label>
        <input class="form-control" id="requisitos" name="requisitos" requiered></input>

      </div>
      <div class="col-md-6">
        <label for="incluye" class="form-label"> Temas que aborda el curso </label>
        <select class="form-control" id="temas" >
          <% for (let tema of temas) { %>
        <option value="<%=tema.titulo%>" class="form-control" id="temas" name="temas"> <%=tema.titulo%></option>
          <% } %>
      </div>
      <div class="col-md-4">
        <label for="nombreImagen" class="form-label">Imagen del Curso</label>
        <input type="file"  class="form-control" id="nombreImagen" name="nombreImagen" />
      </div>
      <div class="col-12">
        <button type="submit" class="button-detail">Continuar</button>
      </div>
    </form>
</section>

  <%-include ('.././partials/footer')%>
</body>
</html>