<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

<body>
  <%-include ('.././partials/header-login')%>

  <section class="Form-Container m-5 ">      
      <h2>Ingresar</h2>

      <form id="form2" action="/user/login" method="POST" class="row g-3"  >
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" style="width: 50%;"/>
            <% if (locals.error && locals.error[0].email) { %>
              <h6> <%= error[0].email %> </h6>
            <% } %>
          </div>
            <div id="emailHelp" class="form-text">No compartas tu correo eletronico con nadie.</div>
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="clave" id="clave" style="width: 50%;">
            <% if (locals.error && locals.error[0].clave) { %>
              <h6> <%= error[0].clave %> </h6>
            <% } %>
          </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
          </div>
          <button type="submit" class="button-detail" style="width: auto;">Ingresar</button>
        </form>
  </section>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/validfrontlogin.js" type="text/javascript">  </script> 	

      <%-include ('.././partials/footer')%>
  </body>
</html>