<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

  <body>
    <%-include ('.././partials/header-login')%>

    <div class="perfil" >
    
      <a href="/user/profile" > 
				<H1 class="titleprofile"> Perfil del usuario <%=usuario.nombre%> </H1>

      </a>

							<p>Nombre:<%=usuario.nombre %></p>
							<p>Email:<%=usuario.email %> </p>
							<p>Contraseña:<%=usuario.password %></p>
              <p>Direccion:<%=usuario.direccion %></p>
              <p>Ciudad:<%=usuario.ciudad %></p>
              <p>Pais:<%=usuario.pais %></p>
              <p>Codigo postal:<%=usuario.cp %></p>
              <img src="/img/usuarios/<%=usuario.ImagenPerfil%>" class="imagenescurso" > </img>					
				
			</div>

    <%-include ('.././partials/footer')%>
  </body>
</html>