<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

  <body>
    <%-include ('.././partials/header-login')%>

    <div class="perfil" >
    
				<H1 class="titleprofile"> Perfil del usuario <%=perfil.nombre%> </H1>

							<p>Nombre:<%=perfil.nombre %> <%=perfil.apellido %></p>
							<p>Email:<%=perfil.email %> </p>
              <p>Direccion:<%=perfil.direccion %></p>
              <p>Localidad:<%=perfil.ciudad %>, <%=perfil.pais %></p>
              <p>Teléfono:<%=perfil.telefono %></p>
              <img src="/img/usuarios/<%=perfil.nombreImagen%>" class="imagenescurso" > </img>					
				
			</div>

      <a href="/user/edit"> <button class="button-detail"  id="edituser" style="margin-left: 80vw;"> Editar usuario </button> </a> 

    <%-include ('.././partials/footer')%>
  </body>
</html>