<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

  <body>
    <%-include ('.././partials/header-login')%>

    <div class="perfil" >
    
      <a href="/user/perfil/<%=perfil.id %>" > 
				<H1 class="titleprofile"> Perfil del usuario <%=perfil.nombre %> </H1>

      </a>

							<p>Nombre:<%=perfil.nombre %></p>
							<p>Email:<%=perfil.email %> </p>
							<p>Contraseña:<%=perfil.password %></p>
              <p>Direccion:<%=perfil.direccion %></p>
              <p>Ciudad:<%=perfil.ciudad %></p>
              <p>Pais:<%=perfil.pais %></p>
              <p>Codigo postal:<%=perfil.cp %></p>
              <img src="/img/usuarios/<%=perfil.ImagenPerfil%>" class="imagenescurso" > </img>					
				
			</div>

    <%-include ('.././partials/footer')%>
  </body>
</html>