<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

  <body>
    <%-include ('.././partials/header-login')%>

    <div class="perfil" >
    
				<H1 class="titleprofile"> Perfil del usuario <%=usuario.nombre%> </H1>

							<p>Nombre:<%=usuario.nombre %> <%=usuario.apellido %></p>
							<p>Email:<%=usuario.email %> </p>
							<p>Contraseña:<%=usuario.clave %></p>
              <p>Direccion:<%=usuario.direccion %></p>
              <p>Localidad:<%=usuario.ciudad %>, <%=usuario.pais %></p>
              <p>Teléfono:<%=usuario.telefono %></p>
              <p>Codigo postal:<%=usuario.cp %></p>
              <img src="/img/usuarios/<%=usuario.nombreImagen%>" class="imagenescurso" > </img>					
				
			</div>

    <%-include ('.././partials/footer')%>
  </body>
</html>