<!DOCTYPE html>
<html>

<head>
  <%-include ('.././partials/head')%>
</head>

  <body>
    <%-include ('.././partials/header-login')%>

    <% for(let profile of profiles) { %>
    <div class="profile" >
    
      <a href="/user/profile/<%=profile.id %>" > 
				<H1 class="titleprofile"> Perfil del usuario <%=profile.nombre %> </H1>

      </a>

							<p>Nombre:<%=profile.nombre %></p>
							<p>Email:<%=profile.email %> </p>
							<p>Contraseña:<%=profile.password %></p>
              <p>Direccion:<%=profile.direccion %></p>
              <p>Ciudad:<%=profile.ciudad %></p>
              <p>Pais:<%=profile.pais %></p>
              <p>Codigo postal:<%=profile.cp %></p>
              <img src="/img/usuarios/<%=profile.ImagenPerfil%>" class="imagenescurso" > </img>

            
							
					
				
			</div>
			<% } %>

      

<!-- armar -->

    <%-include ('.././partials/footer')%>
  </body>
</html>